.col-md-1{
    text-align: center;
    padding: 5px;
    width: 8%;
    transition: width 0.5s;
}

.col-md-1:hover{
    padding: 10px;
    width: 13%;
}

.container .moods{
    padding: 0px;
    width: 50%;
    float:left;
    min-width:300px;
    text-align: center;
}

.emoicon{
    width:16%;
    transition: width 0.5s;6
}
.emoicon:hover{
    width:12%;
}